<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2 style="margin-bottom: 30px;">Edit Posts</h2>
				<%= render 'posts/new_form', post: @post %>
		</div>
	</div>
</div>