/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header, .navbar, nav, h1, h2, .title, .logo, li, a, .text-shadow {
  font-family:'Permanent Marker', cursive, Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
  margin: 0;
}
body {
  margin:0;
  padding: 0;
}

/* header */
header {
  position: relative;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-image: image-url("header2.jpg");
  opacity: 0.8;
  background-position:center;
  background-size:cover;
}
header .headline{
  font-size: 20px;
  margin:0;
}
span, .title {
  color: #1871bd;
  margin-top: 70px;
  font-size: 50px;
}
.nav nav-app2 {
  background-color: #1871bd;
}
.nav-list-item {
  font-size: 1.1em;
}
.navbar navbar-default nav-app .navbar-inner {
padding: 0;
}
.navbar navbar-default nav-app .nav nav-app2 {
margin: 0;
display: table;
width: 100%;
}
.navbar navbar-default nav-app .nav nav-app2 li {
display: table-cell;
float: none;
}
.navbar navbar-default nav-app .nav nav-app2 li a {
font-weight: bold;
text-align: center;
border-left: 1px solid rgba(255, 255, 255, .75);
border-right: 1px solid rgba(0, 0, 0, .1);
color: white;
}
.navbar navbar-default nav-app .nav nav-app2 li:first-child a {
border-left: 0;
border-radius: 0 3px 3px 0;
}
.navbar navbar-default nav-app .nav-app2 li:last-child a {
border-right: 0;
border-radius: 0 3px 3px 0;
color: white;
}

/* search */
.class_submit{
  background-color: #1871bd;
  border-radius: 10px;
  width:70%;
}
span, .glyphicon glyphicon-search {
  font-size:20px;
  margin-top: 3px;
  padding: 3px 13px;
  color: white;
}
.container{
  margin-top :40px;
}

