// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 管理者投稿詳細　*/
.admins_post_show{
	margin-right: 20px;
}

/* ジャンル　プルダウン*/
select::-ms-expand {
	display: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 20px;
	padding: 7px 30px 7px 10px;
	font-size: 70%;
	line-height: 1em;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: 10px 8px;
	background-position: right 10px center;
	background-color: aliceblue;
}

/* post_show */
#show{
  height:350px;
}
