// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show */
.scale-img {
	transition-duration: 0.5s;/*変化の時間*/
}
.scale-img:hover {
	transform: scale(1.2,1.2); /*画像の拡大*/
	cursor: pointer; /*カーソルをポインターにする*/
	opacity:0.6;
	filter:alpha(opacity=50);
	-ms-filter: “alpha( opacity=50 )”;
}

/* user_edit */
.user_image {
	margin-top: 30px;
}