<li class="nav-list-item">
  <%= link_to ' マイページ', user_path(current_user), data: {"turbolinks" => false}, class: "fas fa-house-user" %>
</li>
<li class="nav-list-item">
  <%= link_to ' 投稿', posts_path, data: {"turbolinks" => false}, class: "far fa-clone" %>
</li>
<li class="nav-list-item">
  <%=link_to "ランキング", ranking_posts_path, data: {"turbolinks" => false}, class: "fas fa-crown" %>
</li>
<li class="nav-list-item">
  <%= link_to ' ログアウト', destroy_user_session_path, method: :delete, data: {"turbolinks" => false}, class: "fas fa-sign-out-alt" %>
</li>