<li class="nav-list-item">
  <%= link_to ' Home', user_path(current_user), data: {"turbolinks" => false}, class: "fas fa-house-user" %>
</li>
<li class="nav-list-item">
  <%= link_to ' Posts', posts_path, data: {"turbolinks" => false}, class: "far fa-clone" %>
</li>
<li class="nav-list-item">
  <%=link_to "Genres", "", data: {"turbolinks" => false}, class: "fas fa-plane-departure" %>
</li>
<li class="nav-list-item">
  <%= link_to ' logout', destroy_user_session_path, method: :delete, data: {"turbolinks" => false}, class: "fas fa-sign-out-alt" %>
</li>